<footer>
    <div>
        <p class="light">Developped by
            <span class="bold">
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/jackmg19"
                    class="footer-link">JackMG</a>
            </span>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/jackmg2/ToyControl">
                <img class="social-logo" src="/GitHub-Mark-Light-32px.png" alt="github account" />
            </a>
            - Powered by <a target="_blank" rel="noopener noreferrer" href="https://www.buttplug.io">buttplug.io</a></p>

    </div>
</footer>