<title>ToyControl</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content ="width=device-width" />

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicons/favicon.png" type="image/png">
<link rel="icon" sizes="32x32" href="/favicons/favicon-32.png" type="image/png">
<link rel="icon" sizes="64x64" href="/favicons/favicon-64.png" type="image/png">
<link rel="icon" sizes="96x96" href="/favicons/favicon-96.png" type="image/png">
<link rel="icon" sizes="196x196" href="/favicons/favicon-196.png" type="image/png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
<meta name="msapplication-TileImage" content="/favicons/favicon-144.png">
<meta name="msapplication-TileColor" content="#FFFFFF">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"
    type="text/css" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="/theme.css" type="text/css" />
<link rel="stylesheet" href="/main.css" type="text/css" />
<link rel="stylesheet" href="/chat.css" type="text/css" />
<link rel="stylesheet" href="/style.css" type="text/css" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://cdn.jsdelivr.net/npm/buttplug@0.13.1/dist/web/buttplug.min.js" defer></script>