<% layout('layout') -%>
<div id="overlay"></div>
<div id="content">

    <h1><span class="bold">R</span><span class="light">oom</span></h1>
    <div id="main">
        <div class="sharing">
            <p>Share this link to invite people</p>
            <input id="room-link" readonly />
            <button id="copybtn" class="copy-btn"><i id="copybtnlabel" class="material-icons">file_copy</i></button>
        </div>
        
        <section id="identification" class="identification">
            <input id="pseudo" type="text" class="required c_input" placeholder="enter your name" />
            <button id="connectBtn" onclick="connect()" class="c_btn small">Connexion</button>
        </section>        

        <section id="toys" class="toys" style="display: none;">
            <h2 id="toySync" class="title toys" tabindex="-1"></h2>
            <div id="buttons">
                <button id="buttplug-local-button" class="c_btn">
                    Sync
                </button>
                <p class="light">
                    Chrome only on Windows 10 / macOS / Linux / Android / Chrome OS.
                    <br />
                    Do not forget to activate your bluetooth :)
                </p>
                <div class="clear" />
            </div>            
        </section>

        <section id="users" class="users" style="display: none;">

            <h2 id="users-currentuser"></h2>
            <ul id="yourdevices">

            </ul>            

            <h3>Partners</h3>
            <p class="noselect"><span id="chat-button" style="cursor: pointer;"><i class="material-icons">chat</i><span style="vertical-align: top; margin-left: 6px;">Chat</span></span></p>
            <ul id="users-list">

            </ul>
        </section>
    </div>

    
</div>
<div id="chat">
    <div id="chat-content" class="chat closed">
            <p class="noselect" style="float: right;cursor: pointer;"><span id="chat-close-button"><i class="material-icons">close</i></span></p>
        <div id="chat-input">
            <input id="chat-messageinput" class="c_input" type="text" />
            <button id="chat-sendmessage" class="copy-btn"><i id="sendbtnlabel"
                    class="material-icons">send</i></button>
        </div>
        <div id="chat-messages">

        </div>
    </div>
</div>
<div class=push></div>
</div>

<script src="/chat.js" defer></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/buttplug.wrapper.js" defer></script>
<script src="/toycontrol-commons.js" defer></script>
<script src="/room.js" defer></script>