<% layout('layout') -%>

<div id="overlay"></div>
<div id="content">
    <h1><span class="bold">S</span><span class="light">olo</span></h1>
    <div id="main">
        <section id="toys" class="toys">
            <div id="buttons">
                    <button id="buttplug-local-button" class="c_btn">
                            Sync
                        </button>
                        <p class="light">
                            Chrome only on Windows 10 / macOS / Linux / Android / Chrome OS.
                            <br />
                            Do not forget to activate your bluetooth :)
                        </p>
            </div>
            <h3 id="devices-title" style="display: none;">Your devices</h3>
            <ul id="yourdevices">

            </ul>
        </section>

    </div>
    <div class=push></div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>

<script src="/buttplug.wrapper.js" defer></script>
<script src="/toycontrol-commons.js" defer></script>
<script src="/solo.js" defer></script>